//定义通用的 `css-animation`
@mixin clearfix {
	&::after {
		display: table;
		clear: both;
		content: "";
	}
}
@mixin scrollBar {
	&::-webkit-scrollbar-track-piece {
		background: #d3dce6;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: #99a9bf;
	}
}
@mixin relative {
	position: relative;
	width: 100%;
	height: 100%;
}
